<h1>{{counterTitle}}</h1>

<p>This is a simple example of an Angular component.</p>

<div>
  <input class="e-input" [(ngModel)]="counterTitle" type="text" placeholder="Enter a Counter Title" />
</div>

<p aria-live="polite">Current count: <strong>{{ rangeValue }}</strong></p>

<!--<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->
<button class="btn btn-secondary" (click)="setRangeValue()">Set jauge</button>

<div id='container'>
  <ejs-circulargauge id="circular-container">
    <e-axes>
      <e-axis>
        <e-pointers>
          <e-pointer value={{rangeValue}}></e-pointer>
        </e-pointers>
      </e-axis>
    </e-axes>
  </ejs-circulargauge>
</div>
